
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.\#*

*.orig
*.bak
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
.DS_Store
Thumbs.db
/vendor/bundle/
/.bundle/
~$*
*.tmp
.vagrant/